/***** The following CSS applies to portfolio.php *****/

.project {
	height: 473px;
	max-width: 780px;
	word-break: break-word;
	
	margin: 0px;
	padding: 20px 0px 0px 0px;
	
	overflow: auto;
}

.project .title {
	font: bold 20px Book Antiqua, Arial, sans-serif;
	margin: 0px;
}

.project .description {
	font: italic 15px Book Antiqua, Arial, sans-serif;
	margin: 0px;
}

.project .caption {
	float: right;
	display: block;
	font: 14px Book Antiqua, Arial, sans-serif;
	width: 320px;
	margin-top: 20px;
	padding: 0px;
}

.project .caption:before {
	content: url('../images/red-triangle-bullet-10.png');
}

.gallery {
	float: left;
	width: 400px;
	height: 400px;
	margin-top: 20px;
}

.gallery img {
	width: 400px;
}